<div class="home_page">
  <%= image_tag 'theme2.jpg' %>
  <div class="app_description d-flex justify-content-center">
    <div  style="width: 18rem;">
      <%# <%= current_user.name %>
      <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <%= link_to 'Sign up', new_user_registration_path %>
    </div>
  </div>
</div>
