<div class="home_page">
  <%= image_tag 'theme2.jpg' %>
  <div class="app_description d-flex justify-content-center">
    <div style="width: 18rem;">
      <h1 class="text-white">Welcome rookie</h1>
      <p class="text-white-50">Become a member of fight club,and create <i class='crazy_font'>crazy</i> tasks for other members</p>
      <%= link_to 'Rules', rules_path,class:'rules_button btn btn-outline-light btn-lg' %>
    </div>
  </div>
</div>
