<section class='rules d-flex flex-column align-items-center '>
  <%= image_tag 'theme7.jpg',class:'rules_bg'%>
  <div class="container col-6 text-center">
    <h1><span class="text-danger">WELCOME TO</span><br> FIGHT CLUB</h1><br>
    <h3><span class="text-danger">THE FIRST RULE OF FIGHT CLUB IS:</span><br>YOU DO NOT TALK ABOUT FIGHT CLUB</h3><br>
    <h3><span class="text-danger">THE SECOND RULE OF FIGHT CLUB <br> IS:</span><br>YOU DO NOT TALK ABOUT FIGHT CLUB</h3><br>
    <h3><span class="text-danger">THIRD RULE OF FIGHT CLUB:</span><br>IF THIS IS YOUR FIRST TIME AT FIGHT CLUB,<br>YOU HAVE TO CREATE TASK</h3>
  </div>
</section>