<footer class="py-4 mt-2 my_bg  text-white">
  <div class="container text-center">
    <small><b>Admins</b> -- <%= link_to 'Mkrtich Sargsyan', 'https://github.com/MkrtichSargsyan',target: "_blank",class:'text-white' %></small>
    &
    <small>Jyoti Ray</small>
  </div>
</footer>
