<footer class="py-4 my_bg  text-white">
  <div class="container text-center">
    <small><b>Admin</b> -- <%= link_to 'Mkrtich Sargsyan', 'https://github.com/MkrtichSargsyan',target: "_blank",class:'text-white' %></small>
  </div>
</footer>
